body {
  width: 100vw;
  height: 100vh;
}

.container,
.column,
.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  flex-direction: row;
}

.column {
  display: inline;
  margin: 1em;
}

h1,
p {
  text-align: center;
}

.name {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}
